// Aqua
.btn-aqua {
    color: color-yiq(theme-color("dark"));
}

// Orange
.btn-orange {
    color: color-yiq(theme-color("dark"));
}

// Salmon
.btn-salmon {
    color: color-yiq(theme-color("dark"));
}