footer {
    background: url('../images/bg-footer.png') no-repeat center top;
    background-size: cover;
    min-height: 289px;
    display: flex;
    align-items: flex-end;
    padding-top: 2.5rem;
}