@import './fonts';
@import 'variables';

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/slick-carousel/slick/slick.scss';
@import '../node_modules/slick-carousel/slick/slick-theme.scss';

@import './buttons';

@import './header';
@import './footer';
@import './landing';

body {
    position: relative;
    background: $body-bg url('../images/bg-body.png') no-repeat center top 100vh;
    background-size: cover;

    @include media-breakpoint-up(lg) {
        background-size: 100% auto;
    }
}